@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes route-loader-progress {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(30%);
  }
}

.route-loader-bar {
  animation: route-loader-progress 1s linear infinite alternate;
}
